<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="3.0">
    <servlet>
        <servlet-name>TemperatureConverterServlet</servlet-name>
        <servlet-class>fr.adriencaubel.controller.TemperatureConverterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TemperatureConverterServlet</servlet-name>
        <url-pattern>/convert</url-pattern>
    </servlet-mapping>
</web-app>